@import '../../public/css/typography.scss';

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Poppins';
  font-size: 16px;
  padding: 48px 15vw;
  background: #FAFAFA;
}