@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Cousine-Regular';
  src: url('../fonts/Cousine-Regular.ttf');
}

@font-face {
  font-family: 'Heebo-Regular';
  src: url('../fonts/Heebo-Regular.ttf');
}
