.letter {
  margin: 0.5px;
  border-radius: 2px;
  padding-inline: 4px;
}

.current-letter {
  $animation-speed: 0.8s;

  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  animation: blink-bg $animation-speed ease-in-out infinite alternate;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 3px;
    background-color: #2b2fff;
    border-radius: 2px;
    animation: blink-caret $animation-speed ease-in-out infinite alternate;
  }

  @keyframes blink-bg {
    0% {
      background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  @keyframes blink-caret {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.correct-letter {
  background: #22fa95d3;
}

.incorrect-letter {
  background: #ff6e63d3;
}
