.root {
  display: flex;
  flex-direction: column;
  padding-block: min(10vh, 135px);
  text-align: right;
  direction: rtl;
  align-items: flex-start;
}

.keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.hebrew-key {
  display: inline-block;
  border: 1px solid #818181;
  line-height: 16px;
  padding: 12px;
}

.input {
  margin: 24px 0px;
  font-size: 1em;
  padding: 4px;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 50% - calc(50%);
}

.title {
  margin-bottom: 90px;
}

.wpm {
  font-family: 'Cousine-Regular';
  font-size: 1.125em;
  text-align: right;
  direction: ltr;
  padding-block: 16px;
  margin-bottom: 50px;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.wpm-shown {
  opacity: 1;
}
