.root {
  min-width: 360px;
  max-width: 20vw;
  height: 100vh;
  padding: 40px 36px;
  background: #ffe8d6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  font-size: 36px;
  font-family: 'Heebo-Bold';
}

.list {
  margin-bottom: 2px;
}
