.root {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background: transparent;
  align-items: center;
  justify-content: end;

  &:hover:not(.selected-exercise) {
    background: #f3dece;
  }

  &:active {
    background: rgba(235, 200, 173, 1);
  }
}

.exercise-number-pill {
  background: #94dade;
  font-size: 0.75em;
  color: rgba(46, 143, 148, 1);
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  grid-row-start: 2;
  grid-column-start: 3;
  height: 20px;
  align-self: center;
  margin-left: 16px;
  justify-self: flex-end;
}

.keycaps {
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
}

.lesson-type {
  margin-bottom: 8px;
  justify-self: end;
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 0px 5px;
  background: #dec8b7;
  font-size: 0.75em;
  color: white;
  height: 15px;
  width: fit-content;
  grid-column: 2;
}

.selected-exercise {
  background: #efd3bd;
}

.wpm {
  font-family: 'Cousine-Regular';
  font-size: 1em;
  color: #716054;
  margin-right: 16px;
  grid-row-start: 2;
}

.text-exercise-label {
  font-family: 'Heebo-Regular';
  font-size: 16px;
  grid-row-start: 2;
  grid-column-start: 2;
  text-align: right;
  color: #410b13;
  width: max-content;
}
