@import '../../../public/css/typography.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Heebo-Regular';
  font-size: 16px;
  background: white;
  color: #410b13;
}

.root {
  display: flex;
  gap: min(20vw, 200px);
  flex-direction: row-reverse;
}

.dlvhdr {
  font-family: 'Heebo-Bold';
  position: absolute;
  left: 61px;
  top: 40px;
  outline: none;
  color: #410b13;
  text-decoration: none;

  h3 {
    font-size: 1.125em;
  }
}
